<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col-12 center-footer icons-footer">
            <a href="" ><img src="images/icons/website.png"></a>
            <a href="https://www.facebook.com/helgaspoezenhuisopvang/" ><img src="images/icons/facebook.png"></a>
        </div>
        <div class="col-12 center-footer">
            <p>&#9400; 2018 • Helga's Poezenhuis Opvang <br>In samenwerking met Kato Notebaert en Arteveldehogeschool</p>
        </div>
        <div class="col-12 center-footer images-footer">
            <a href="" ><img src="images/Logo/Logo_PSWhite_72.png"></a>
            <a href="" ><img id="artevelde" src="images/Logo/logo_arteveldehogeschool.png"></a>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>