// default-styling

body {
    font-family: $myfont-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $lineheight-base;
    background-color: white;
    color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $myfont-family-title;
    font-weight: $font-weight-bold;
    color: $color-grey-2;
}

h1 {
    font-weight: $font-weight-light;
    font-size: 4rem;
    color: $clientcolor-1;
}
h2 {
    font-weight: $font-weight-light;
    font-size: 2rem;
    margin: 2rem 0 1rem;
}
h3, h4, h5, h6 {
    font-size: 1rem;
    margin: 2rem 0 0;
}
a {
    text-decoration: none;
    color: $clientcolor-1;
    &:hover{
        color: $body-link;
        text-decoration: none;
    }
    &:active{
        background-color: $body-link;
        color: $color-white;
    }
    &:focus{}
}
blockquote {
    padding-left: 24px;
    border-left: 2px solid $mycolor-5;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    /*&:before {
        content:'\2022';
        color: $mycolor-5;
        margin-right: 18px;
    } */   
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;
      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: $mycolor-5;
        color: $color-white;
        font-family: $myfont-family-title;
        font-weight: $font-weight-bold;
      }    
    }
  }

//forms 
button, a.btn {
    
    &:hover{}
    &:active{}
    &:focus{}
}
input[type=text], textarea {

}
//images
.tweecol{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}
.driecol{
    width: 100%;
}
.witbeeld{
    background-color: black;
}
.col-6>img{
    margin-bottom: 20px;
}

//content
.content{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 200px;;
}
.content-block{
    margin-bottom: 80px;
}
.align-bottom{
    display: flex-end;
    align-items: flex-end;
    justify-content: center;
    border: 2px;
}
.colors{
    ul{
        color: white;
        list-style-type: none;
        padding-top: 20px;
    }
}
.oranje{
    background-color: #FF4D00;
    color: white;
}
.zwart{
    background-color: black;
}
.grijs{ 
    background-color:  #F2F0EF;
    padding-top: 30px;
    padding-bottom: 10px;
}
.oranje8{
    background-color: #FF773E;
    color: white;
}
.oranje6{
    background-color: #FF9B6D;
    color: white;
}
.oranje4{
    background-color: #FFBD9C;
    color: white;
}
.oranje2{
    background-color: #FFDECC;
    color: white;
}
.oranje0{
    background-color: #FEFEFE;
}

//footer
footer{
    background-color: black;
}
.icons-footer{
    margin-top: 30px;
    margin-bottom: 30px;
}
.icons-footer>a>img{
    height: 40px;
}
.images-footer>a>img{
   height: 104px;
}
#artevelde{
    height: 60px;
}
.center-footer{
    text-align: center;
}