 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
    .custom-nav-ver {
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
        }
        .navbar-nav {
            width: 100%;
        }
        .nav-item {
            width: 100%;
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
     }

 }

 /* table of contents
 --------------------------- */
 #toc {
    margin-bottom: 1em;
    .nav {
        display: block;
    }

 } 

 /* Kato Aanpassingen
 --------------------------- */

 /* navbar*/
 .navigatie {
     background-color: $clientcolor-1;
     margin-bottom: -12%;
 }
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.dropdown-menu {
    background-color: $clientcolor-1;
    border: none;
    color: white;
    border-radius: 0;
}
.dropdown-item{
    color: white;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: $clientcolor-1;
}
/*einde navbar*/

